/*
*
*	janishutz.com - menustyle.css
*
*
*		Created 2023 by Janis Hutz
*/

::selection {
	background-color: darkblue;
	color: white;
}

.Menu {
	font-size: 0.8rem;
	margin-top: -1%;
	padding: 2%;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	overflow: hidden;
	background-color: rgba(56, 68, 77, 1);
}

.logo {
	height: 10vh;
	display: inline-block;
	margin-left: 2%;
	position: relative;
	vertical-align: middle;
}

.menu-container {
	display: none;
	width: 80%;
}

.active {
    color: rgba(184, 214, 240, 1);
}

.listtoggle {
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    margin-right: 7%;
    cursor: pointer;
}

.toggle-wrapper {
    display: inline-flex;
    height: 100%;
    width: 70%;
    align-items: center;
    justify-content: flex-end;
}

.menu-container, .dropdown-menu {
	list-style: none;
	margin: 0 5%;
	padding: 0;
}

.menubutton {
	text-decoration: none;
	width: 96%;
	display: block;
	padding: 2%;
	color: white;
	transition: 0.6s;
}

.menubutton:hover {
	background-color: darkblue;
	transition: 0.2s;
}

.sub {
	width: 96%;
}

.dropdown-menu {
	width: 95%;
}

@media only screen and (min-width: 999px) {
	.listtoggle, .toggle-wrapper {
        display: none;
    }

	.menu-wrapper {
		display: inline-block;
	}
	
	.menu-container {
		display: inline-flex;
		list-style-type: none;
		width: 80%;
		margin: 0;
		justify-content: center;
	}
	
	.menubutton {
		text-decoration: none;
		display: inline-block;
		padding: 20px;
		width: inherit;
		color: white;
		border-radius: 0%;
		background-color: rgba(0,0,0,0);
		transition: 0.6s;
	}

	.sub {
		width: 92%;
		padding: 20px 4%;
	}

	.menubutton:hover {
		border-radius: 0%;
		background-color: darkblue;
		transition: 0.3s;
	}
	
	.dropdown-menu {
		margin: 0;
		padding: 0;
		width: fit-content;
		background-color: lightseagreen;
		display: none;
		list-style-type: none;
		position: absolute;
		min-width: 200px;
		transform-origin: top center;
		flex-direction: column;
	}
	
	@keyframes growDown {
		0% {
			transform: scaleY(0);
		}
		100% {
			transform: scaleY(1);
		}
	}
	
	.dropdown:hover .dropdown-menu {
		display: flex;
		animation: growDown 0.3s ease-in-out;
	}
	
	.mainitems {
		display: inline-block;
	}
}
