.slider {
    overflow: hidden;
    position: relative;
}

.slider-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider-controls {
    position: absolute;
    font-size: 3rem;
    top: calc( 50% - 1.5rem );
    cursor: pointer;
    user-select: none;
}

.slider-control-left {
    left: 10px;
}

.slider-control-right {
    right: 10px;
}

.slider-element {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    background-position: center;
}