.form {
    width: 100%;
}

@media only screen and (min-width: 999px) {
    .form {
        width: 75%;
    }
}

.input {
    width: 100%;
    border-radius: 500px;
    padding: 20px;
    color: white;
    border: none;
    background-color: rgb(44, 44, 44);
}

.textarea {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    resize: vertical;
    color: white;
    border: none;
    background-color: rgb(44, 44, 44);
}

.label {
    color: white;
}

.submit {
    background: linear-gradient(90deg, rgb(30, 36, 131), rgb(87, 66, 184), rgb(105, 115, 214), rgb(30, 36, 131), rgb(41, 128, 109), rgb(146, 50, 47));
    background-size: 300px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 3s;
}

.submit:hover {
    background-size: 200%;
    background-position: -100%;
}