#menu {
    color: white;
    transition: width 0.8s, height 1s, border-bottom-left-radius 0.7s;
    position: fixed;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    cursor: default;
    background-color: #152b5c;
    border-bottom-left-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menu.open {
    transition: width 1s, height 0.8s, border-bottom-left-radius 1.1s;
    width: 100vw;
    height: 100vh;
    border-bottom-left-radius: 0;
}

.menu-container {
    display: none;
    width: 80%;
    height: 80%;
    opacity: 0;
    transition: all 0.3s;
}

.menu-container.shown {
    display: block;
    width: 80%;
    height: 80%;
    opacity: 1;
    transition: all 1s cubic-bezier(1, 0, 0, 1);
}

.bottom-note {
    display: none;
}

.menu-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.menu-category {
    padding: 1vw;
    transition: all 1s;
    transition-delay: 0.5s;
}

/*  TODO: Make multiple steps for this
 */

.menu-category-active {
    padding-right: 20vw !important;
    transition-delay: 0s;
}

.category-list {
    background-color: #152b5c;
    transition: all 0.5s;
    transform: scaleY( 0 );
    position: absolute;
    transform-origin: top;
    transition-delay: 0s;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 5%;
}

.category-list-active {
    transform: scaleY( 1 );
    transition-delay: 0.5s;
}

/* 
    Menu sub items
*/
.category-item {
    padding: 0.5%;
    text-decoration: none;
    color: white;
    background-color: rgba( 0, 0, 0 ,0 );
    width: 100%;
    transition: all 1s;
}

.category-item:hover {
    width: 100%;
    padding: 1vh 1vw;
    background-color: rgb(0, 125, 156);
}

@media only screen and ( min-width: 999px ) {
    .menu-main {
        flex-direction: row;
    }

    .menu-category {
        padding: 2vw;
    }

    /*  TODO: Make multiple steps for this
        TODO: Optimise for mobile devices (scale vertically) */

    .menu-category:hover {
        padding-right: 15vw;
        transition-delay: 0s;
    }

    .menu-category:hover .category-list {
        transform: scaleY( 1 );
        transition-delay: 0.5s;
    }

    /* 
        Menu sub items
    */

    .category-item:hover {
        width: 100%;
        padding: 1vh 1vw;
        background-color: rgb(0, 125, 156);
    }

    .bottom-note-wrapper {
        font-family: monospace;
        position: fixed;
        width: 100%;
        bottom: 5%;
        left: 0;
        display: none;
    }

    .bottom-note {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 75%;
        transition: all 1s;
    }
}