/*
*
*	janishutz.com - mainstyle.css
*
*
*		Created 2023 by Janis Hutz
*/

/*
	Set size of html and body to full width
*/
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: calc(14pt + 0.395vw);
}

body {
	background-color: rgba(0, 1, 73, 0.7);
	/* background-color: rgba(0, 2, 100, 0.5); */
	font-family: sans-serif;
}

/*
	Style for quotes
*/
.bigquote {
	width: 40%;
	font-size: 300%;
}

.biggerquote {
	font-size: 150%;
}

/*
	Styling for links and buttons
*/
.textlink {
	font-size: 100%;
	text-decoration: none;
	color: black;
	transition: 1s;
}

.textlink:hover {
	color: darkblue;
	font-size: 115%;
	transition: 0.3s;
}

.button {
	border: none;
	cursor: pointer;
	font-size: 1rem;
	text-decoration: none;
	display: inline-block;
	padding: 20px;
	color: white;
	background-color:rgba(0, 40, 131, 1);
	border-radius: 25px;
	transition: 1s;
}

.button:hover {
  background-color: darkblue;
  border-radius: 5px;
  transition: 0.3s;
}

.references {
  color: gray;
}

/*
	Page title
*/
.title-container {
	background-image: url( '/assets/title.png' );
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title-wrapper {
	padding: 5%;
	border-radius: 20px;
	background-color: rgba( 0, 0, 0, 0.7 );
}

.title {
	text-align: center;
	font-size: 3rem;
}

.subtitle {
	text-align: center;
	font-size: 1.3rem;
}

.menuOpen {
    overflow: hidden;
}

/* 
	Main page content
*/

.content-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content {
	font-size: 1rem;
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 5%;
	margin-bottom: 7%;
}

.content-title {
	font-size: 3rem;
	text-align: center;
}

.content-title-small {
	font-size: 2rem;
	text-align: center;
}

.pullquote-lines {
	border-color: black;
	margin-bottom: 2%;
	margin-top: 2%;
	width: 100%;
}

/* 
	Bottom container styling
*/

.bottom {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 10%;
}

.element {
	text-align: center;
}

.project-logo {
	width: 80vw;
	height: auto;
	border-radius: 20px;
}


@media only screen and (min-width: 999px) {
	/*
		Align content side by side
	*/
	.sidebyside {
		width: 100%;
		display: flex;
		flex-grow: 1;
		gap: 5%;
	}

	.element {
		width: 47%;
	}

	.itemsInline {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 5%;
		margin-bottom: 3%;
	}

	.project-logo {
		width: auto;
		height: 40vh;
	}
}