/* 
    Analytics 
*/
.analytics-notice {
    z-index: 10000;
    bottom: -450px;
    right: 5px;
    width: 300px;
    height: 400px;
    position: fixed;
    background-color: var( --color-background-analytics );
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    transition: bottom 1s;
}

.analytics-notice.show {
    bottom: 5px;
}

/* Close button  */
.analytics-button {
    color: var( --color-text-primary );
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

#matomo-opt-out {
    color: var( --color-text-primary ) !important;
}

/* The small icon on the side that is shown when main panel is closed */
.analytics-notice .small-symbol {
    position: fixed;
    bottom: 20px;
    right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var( --color-background-analytics );
    border: solid black 1px;
    cursor: pointer;
    transition: all 1s;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    transition-delay: 2s;
    z-index: 10001;
}

.analytics-notice .small-symbol .material-symbols-outlined {
    font-size: 1.75rem;
}

.analytics-notice.show .small-symbol {
    right: -100px;
    transition-delay: 0s;
}
