@import url( 'https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap' );
@import url( 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200' );
@import url( '/css/nav.css' );
@import url( '/css/footer.css' );


body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

.no-scroll {
    overflow: hidden;
}

.button {
    padding: 20px;
    background-color: rgb(21, 43, 92);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.5s;
}

.button:hover {
    border-radius: 5px;
    background-color: rgb(2, 10, 27);
}



.pullquote-lines {
    border-color: black;
	margin-bottom: 2%;
	margin-top: 2%;
	width: 100%;
}

.quotes-text {
    font-size: 150%;
	font-style: italic;
	font-weight: normal;
	text-align: center;
}

.quotes-author {
    text-align: right;
	font-style: italic;
	width: 80%;
	margin-right: auto;
	font-weight: lighter;
	margin-top: 0;
}


.project-logo {
    margin-top: 12vh;
    width: 80vw;
    height: auto;
    border-radius: 20px;
}

.inline-elements {
    display: flex;
    flex-direction: column;
}

.inline-elements * {
    margin: 5px;
}

.text-center {
    text-align: center;
}

.rounded-corners {
    border: none;
    border-radius: 20px;
}

.circle {
    border-radius: 5000px;
}

.bigger {
    font-size: 1.2rem;
    font-weight: bold;
}

.no-margin {
    margin: 5px;
}

@media only screen and (min-width: 550px) and (max-width: 998px) {
	.project-logo {
		margin-top: 10vh;
		width: 50vw;
	}
}

@media only screen and (min-width: 999px) {
	.project-logo {
		margin-top: 4vh;
		width: auto;
		height: 40vh;
	}

    .inline-elements {
        flex-direction: row;
    }
}