.wrapfig-wrapper {
    width: 80%;
    position: relative;
}

.wrapfig {
    width: 100%;
}

.wrapfig.left {
    float: none;
}

.wrapfig.right {
    float: none;
}

.wrapfig-text {
    margin: 5px;
    width: 100%;
}


@media only screen and (min-width: 999px) {
    .wrapfig {
        width: 40%;
    }
    
    .wrapfig.left {
        float: left;
    }
    
    .wrapfig.right {
        float: right;
    }
    
    .wrapfig-text {
        width: 58%;
    }

    .wrapfig-text.left {
        margin-right: auto;
    }
    
    .wrapfig-text.right {
        margin-left: auto;
    }    
}